
.footer__figure  :hover{
  background-color: rgb(235, 3, 3);
  transform: translateY(-20px) scale(0.9);
}
.principal__figure img {
    width: 100%;
  }

.footer__figure img{
    width:80%;
}

@media only screen and (max-width: 460px) {
  .footer__figure {
    width:10%;
    
  }
}

#Ftitle{
  text-align: center;
}

